@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-primary {
		@apply whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-brand hover:bg-red-600;
	}
	.btn-secondary {
		@apply whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-gray-300 rounded-md text-base font-medium text-gray-500 bg-gray-100 hover:bg-gray-200;
	}
}
body {
	font-family: "Roboto", sans-serif;
}
body.toggled {
	overflow: hidden;
}
body.toggled .sidebar {
	transform: translateY(0);
}
.sidebar {
	@apply fixed z-10 h-full shadow-md block md:hidden;
}
.sidebar {
	@apply z-40 w-full;
	top: 57px;
	transform: translateY(-140%);
}
.sidebar-menu {
	@apply bg-white h-full px-5;
}
.sidebar-menu__link {
	@apply text-lg py-3 flex;
}
.sidebar-menu__parent svg {
	@apply font-bold text-xl;
}
.sidebar-menu__parent.open svg {
	@apply transform rotate-180;
}
.sidebar-menu__child {
	@apply text-base flex py-2;
}
.sidebar-menu-sub__link {
	@apply text-gray-500 block py-1.5;
}
.sidebar-menu-setting {
	@apply py-4;
}
.sidebar-menu-setting img {
	@apply mr-3;
}
.or:before {
	content: "";
	height: 1px;
	border-top: 1px solid #ccc;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	width: 100%;
}
.content {
	min-height: calc(100vh - 134px);
}

svg.btn-dropdown-caret {
	fill: #9e9ea7;
}
svg.filter-icon {
	fill: #6e6d7a;
}
.infinite-login-actions {
	@apply text-center text-gray-500 space-x-5 mt-10 mb-16;
}
.btn-bar {
	@apply bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500;
}
.auth__title {
	@apply mt-4 text-center md:text-left text-2xl md:text-4xl font-extrabold leading-9  text-gray-900;
}
.auth__desc {
	@apply mt-4 text-sm leading-5 text-gray-600 text-center md:text-left;
}
.auth__note {
	@apply font-medium text-brand transition duration-150 ease-in-out hover:underline;
}

.notify-count {
	@apply absolute -top-2 -right-2 bg-brand rounded-full w-4 h-4 text-center text-white text-xs;
}
/* ========= MEGAMENU ===== */
.megamenu {
	@apply py-10 px-8 xl:px-12;
}
.megamenu__title {
	@apply font-medium mb-5;
}
.megamenu__link {
	@apply text-gray-500 mb-2 mr-2 inline-block hover:text-brand hover:underline text-sm xl:text-base;
}
.dropdown-menu-container {
	@apply grid md:grid-cols-2 lg:grid-cols-4 gap-10;
}
.dropdown-menu {
	@apply absolute mt-3 left-0 right-0 shadow-lg border border-gray-100 bg-white z-30 hidden;
}
.btn-dropdown-options {
	@apply text-sm absolute z-10 left-0 mt-2  border border-gray-50 overflow-auto rounded-lg shadow-lg bg-white;
	top: calc(100% + 0px);
	min-width: 180px;
}
.btn-dropdown-option__link {
	@apply block py-3 px-4 text-gray-500 text-sm hover:bg-gray-100;
}
.btn-dropdown-option__link.active {
	@apply font-normal text-brand;
}
/* ========= FORM ======= */
.form-label {
	@apply block text-sm font-medium text-gray-700 mb-3;
}
.form-control {
	@apply block text-sm  mt-1 shadow-sm  bg-form-control rounded w-full py-3 px-4 caret-brand focus:outline-none focus:ring-1 focus:ring-brand;
}
.select2 {
	@apply !w-full;
}
.select2-dropdown {
	@apply border-0;
}
.select2-container--default .select2-selection--single {
	@apply py-1.5 h-auto border-gray-200;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 9px;
	right: 6px;
}
.select2-container--default .select2-selection--multiple {
	@apply border-0 bg-form-control pb-1.5;
	height: 44px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
	border: none;
	@apply bg-form-control;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	@apply py-2 border-0 text-sm;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	top: 8px;
	border: none;
}
.select2-container .select2-search--inline .select2-search__field {
	@apply caret-brand;
	height: 37px;
	margin-top: 2px;
}
/* ========HEADER ======= */
.form-search {
	@apply hidden md:block lg:w-0 lg:flex-1 order-2;
}
.form-search__btn {
	@apply inline-flex items-center px-4 rounded-l-md bg-form-control text-gray-500 text-sm;
}
.form-search__input {
	@apply outline-none bg-form-control flex-1 block w-1/2 py-3 pr-4 rounded-none rounded-r-md sm:text-sm;
}
.site-nav {
	@apply flex justify-between items-center border-b border-gray-100 py-4 md:justify-start md:space-x-10;
}
.site-nav__logo {
	@apply flex justify-start items-center order-4 md:order-1;
}
.site-nav-login {
	@apply block md:hidden order-5 rounded-full;
}
.site-nav-actions {
	@apply hidden md:flex items-center justify-end md:flex-1 lg:w-0 space-x-8 order-4;
}
.site-nav-actions__link {
	@apply whitespace-nowrap text-base font-medium text-gray-900 hover:underline;
}
.site-nav-desktop-only {
	@apply max-w-full hidden md:block;
	height: 60px;
}
.site-nav-desktop-nav {
	@apply flex flex-row overflow-x-auto whitespace-nowrap justify-between py-5 space-x-8;
}
.header-user-setting {
	@apply relative cursor-pointer;
}
.dropdown-user-setting {
	@apply text-sm absolute z-10 right-1/2 translate-x-1/2 mt-2  border border-gray-50 overflow-auto shadow-xl bg-white;
	top: calc(100% + 0px);
	min-width: 335px;
}
.dropdown-user-setting h2 {
	@apply py-4 text-base text-title mx-8 border-b mt-5;
}
.dropdown-user-setting ul {
	@apply my-3;
}
.dropdown-user-setting ul li {
	@apply px-8 hover:bg-gray-100;
}
.dropdown-user-setting ul li a {
	@apply py-3 flex items-center text-base text-paragraph hover:text-title;
}
.dropdown-user-setting img {
	@apply inline-block mr-3 opacity-50;
	/* filter: grayscale(1); */
}
.dropdown-user-setting ul li:hover img {
	/* filter: grayscale(0); */
	@apply opacity-100;
}
.navbar__link {
	@apply text-gray-500 text-base font-medium py-4 relative;
}
.navbar__link:hover:after {
	content: "";
	@apply absolute bottom-2 inset-x-0 bg-brand h-1;
}
/* =========SIDE-NAV ====== */
.side-nav {
	width: 300px;
	height: 650px;
}
.side-nav__link {
	@apply block py-4 px-8 border-l-4 border-transparent text-paragraph hover:bg-gray-100 hover:text-title;
}

.side-nav img {
	@apply inline-block mr-3 opacity-50;
}
.side-nav__link:hover img {
	@apply opacity-100;
}
.side-nav__link.active {
	@apply border-brand bg-gray-100 text-title;
}
.side-nav__link.active img {
	@apply opacity-100;
}
/* =====BREADCRUMB ====== */
.breadcrumb {
	@apply py-4 -mx-2 sm:mx-auto;
}
.breadcrumb li {
	@apply text-sm sm:text-base;
}
.breadcrumb__link {
	@apply text-sm sm:text-base text-gray-500;
}
.breadcrumb__link:after {
	content: ">";
	@apply ml-2 sm:ml-4 inline-block;
}
/* ========= FILTER ========== */
.filter-subnav {
	@apply py-5 md:py-8;
}
.filter-categories__link {
	@apply inline-block px-4 py-2 cursor-pointer;
}
.filter-categories__link.active {
	@apply whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-brand hover:bg-red-700;
}
.filter-views {
	@apply relative;
}
.filter-views .btn-dropdown {
	@apply border rounded-md flex items-center justify-between py-3 px-4 text-gray-500 cursor-pointer;
}
.filter-views .btn-dropdown-caret {
	@apply ml-3;
}
.filter-settings {
	@apply border rounded-md flex justify-between items-center py-3 px-4 text-gray-500 cursor-pointer active:scale-95 active:ring-0 active:ring-transparent  hover:ring-2 hover:ring-brand;
}
.filter-settings .filter-icon {
	@apply mr-3;
}
.shot-filters {
	@apply mb-10;
}
.shot-filters-form {
	@apply grid md:grid-cols-2 xl:grid-cols-4 gap-8;
}
.shot-filter-form-label {
	@apply block mb-3 font-medium text-sm lg:text-base;
}
.shot-filter-form-control {
	@apply border block w-full p-3 rounded text-sm lg:text-base;
}
.btn__like {
	@apply border border-gray-500 rounded-md flex justify-between items-center py-2 px-4 text-gray-500 cursor-pointer hover:bg-brand hover:text-white hover:border-transparent;
}
.btn__like.active {
	@apply bg-brand text-white border-brand;
}
/* =======+BANNER +======== */
.banner {
	background: #f8f9fd;
}
.banner-inner {
	@apply flex flex-col pt-10 items-center justify-center md:flex-row md:py-0 md:justify-between;
}
.banner-image {
	@apply self-end;
}
.banner-content {
	@apply flex flex-col items-center py-0 mb-5 text-center md:py-10 md:items-start md:m-0 md:text-left;
	max-width: 724px;
}
.banner__title {
	@apply text-2xl lg:text-5xl text-gray-900 font-bold;
}
.banner__desc {
	@apply my-5 text-gray-500 text-base;
}
.banner__btn {
	@apply w-full md:w-auto;
}
/* ======SHOTS======= */
.shot-item {
	@apply border rounded;
}

.shots-item__desc {
	@apply text-gray-500 mb-4;
}
.shot-details-container {
	@apply py-3 pb-5 px-5;
}
.shot-statistics {
	@apply flex items-center text-gray-500 space-x-2;
}
.shot-statistics .shot-tools-icon.liked {
	fill: #ff5864;
}
.grid-mansory {
	@apply -mx-4;
}
.grid-mansory .shot-item {
	@apply md:w-1/2 xl:w-1/4 px-4 border-0;
}
.grid-mansory .shot-item .inner {
	@apply border rounded mb-4;
}
.grid-mansory .shot-item--height2 {
	/* height: 300px; */
}
.grid-mansory .shot-item--height3 {
	/* height: 400px; */
}
.shot-thumbnail__link {
	@apply absolute inset-0 cursor-pointer;
}
.shot-thumbnail {
	@apply rounded-lg overflow-hidden relative;
}
.shot-thumnail-without-container {
	@apply p-5;
}
.shot-thumnail-without-container.pdf .shot-thumnail-without-img {
	@apply border-brand;
}
.shot-thumnail-without-container.csv .shot-thumnail-without-img {
	@apply border-green-500;
}
.shot-thumnail-without-container.ppt .shot-thumnail-without-img {
	@apply border-yellow-500;
}
.shot-thumnail-without-img {
	@apply rounded-md flex items-center justify-center flex-col space-y-4 text-base font-medium;
	height: 219px;
	border-width: 6px;
}
.shot-thumbnail img:not("shot-thumbnail-icon") {
	@apply w-full;
}
.shot-thumbnail-icon {
	@apply absolute bottom-0 -right-2 w-24 opacity-20;
}
.shot-thumbnail-overlay {
	@apply flex items-end p-5 transition duration-300 ease-in-out rounded absolute inset-0 opacity-0 group-hover:opacity-100 pointer-events-none bg-gradient-to-t from-gray-800;
}
.shot-thumbnail-overlay-content {
	@apply flex flex-1 items-center justify-between min-w-0 space-x-4;
}
.shot-title {
	@apply truncate text-base text-white;
}
.shot-thumbnail:hover .swiper-button-prev:after,
.shot-thumbnail:hover .swiper-button-next:after {
	display: block;
}

.shot-thumbnail .swiper-button-prev:after,
.shot-thumbnail .swiper-rtl .swiper-button-next:after {
	@apply text-white text-2xl hidden;
}
.shot-thumbnail .swiper-button-next:after,
.shot-thumbnail .swiper-button-prev:after {
	@apply text-white text-2xl hidden;
}
.shot-swiper-pagination {
	bottom: 5px !important;
	z-index: 999;
}
.shot-swiper-pagination .swiper-pagination-bullet-active {
	background: #fff;
}
.shot-swiper-pagination .swiper-pagination-bullet {
	background: #fff;
}
.user-information {
	@apply flex items-center space-x-3;
}
.user-information img {
	@apply rounded-full w-6 h-6;
}
.like-shot {
	@apply flex items-center justify-center relative rounded-md bg-white text-center cursor-pointer text-sm font-medium w-9 h-9 hover:bg-gray-200 pointer-events-auto;
}
.like-shot.liked svg {
	fill: #ff5864;
}
.like-shot svg {
	fill: #6e6d7a;
}
/* ===== INVIVISUAL CARD======= */
.indivisual-card-container {
	@apply relative;
}
.indivisual-card {
	@apply max-w-4xl mx-auto;
}
.indivisual-tag {
	@apply flex space-x-4 py-4 overflow-x-auto whitespace-nowrap;
}
.indivisual-tag__item {
	@apply bg-gray-200 rounded-full py-2 px-4 text-xs text-gray-600;
}
.indivisual-tag__item.active {
	@apply bg-brand text-white;
}
.indivisual__name {
	@apply text-2xl md:text-4xl font-bold my-6;
}
.indivisual__desc {
	@apply text-gray-500 text-xl;
}
.upload-workspace {
	@apply bg-gray-100 border rounded-lg flex items-center justify-center text-center flex-col h-96;
}
@media (min-width: 768px) {
	.upload-workspace {
		height: 570px;
	}
}

.upload-gallery {
	@apply grid grid-cols-3 xl:grid-cols-4 gap-4 mt-5 mb-14;
}
.upload-gallery-item {
	@apply transition ease-in-out duration-300 h-24 border-2 border-transparent rounded-lg bg-gray-100 cursor-pointer relative hover:border-brand hover:border-solid focus:border-brand focus:border-solid;
}
.upload-gallery-item.active {
	@apply border-brand;
}
.upload-gallery-item.upload-gallery-item-plus {
	@apply border-dashed border-gray-300 hover:border-brand hover:border-solid;
}
.upload-gallery-delete {
	@apply absolute -top-3 -right-3;
}
/* =======SOCIAL ======== */
.social {
	@apply flex mb-10 justify-center border-b pb-5 md:pt-0 md:border-0 md:justify-start;
}
.social__link {
	@apply w-8 h-8 py-1 text-gray-600;
}
/*====== FOOTER =====*/
.footer {
	@apply bg-gray-100 pt-8 sm:pt-12;
}
.footer-main-content {
	@apply flex flex-col lg:flex-row;
}
.footer-lower-content {
	@apply text-center py-5 mt-10 border-t text-sm text-gray-500;
}
.footer-info__logo {
	@apply mx-auto md:ml-0 md:mr-auto;
}
.footer__item {
	@apply mb-3;
}
.footer__desc {
	@apply my-6 text-sm text-center text-gray-500 md:text-left sm:w-64 mx-auto md:ml-0 md:mr-auto;
}
.footer-links-container {
	@apply grid grid-cols-2 md:grid-cols-4 xl:ml-20 gap-4 xl:gap-x-8 w-full;
}

/* ========+SWIPERJS====== */

@media (min-width: 768px) {
	.thumbnail-gallery {
		width: 100px;
		height: 650px;
	}
}

.mySwiper .swiper-slide-thumb-active {
	opacity: 1;
}
.card-img-gallery {
	@apply md:block md:absolute top-0 -right-32;
}
.card-img-large .swiper-slide img {
	@apply block w-full object-cover;
	max-height: 643px;
}

.thumbnail-gallery .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-slide-thumb-active {
	border: 2px solid #ff5864 !important;
}

.thumbnail-gallery .swiper-slide {
	cursor: pointer;
	border: 2px solid transparent;
	padding: 2px;
}
.profile {
	@apply grid justify-center text-center flex-row space-y-3;
	margin-top: 10%;
}
.profile-wrapper {
	@apply flex flex-col z-20 space-y-3 md:space-y-3;
}
.profile-social {
	@apply flex space-x-4 justify-center mb-3;
}
.banner-guest-view {
	min-height: 100px;
	max-height: 200px;
}
/* .profile.guest-view {
	background: url("./images/bgProfile.png") no-repeat top left;
	background-size: cover;
} */
.profile__img {
	@apply w-24 md:w-48 mx-auto mb-6;
}
.profile__name {
	@apply text-2xl md:text-4xl font-bold mb-1;
}
.profile__desc {
	@apply text-gray-500 mb-3;
}
.profile-follow {
	@apply flex justify-center items-center mb-6 space-x-3;
}
.profile-flower:after {
	content: "•";
	@apply inline-block text-gray-500 text-2xl relative top-0.5 ml-3;
}
/* =======BADGE ====== */
.badge {
	@apply inline-block border border-brand px-1 rounded-full text-brand uppercase align-middle;
	font-size: 9px;
}
.public-profile-banner {
	height: 130px;
	@apply relative bg-cover bg-no-repeat mb-16;
}
.public-profile-banner-upload {
	@apply transform absolute -bottom-8 left-1/2 -translate-x-1/2 bg-cover bg-no-repeat flex items-center justify-center cursor-pointer rounded-full;
	width: 72px;
	height: 72px;
}
.public-profile-banner-upload:after {
	content: "";
	background: rgba(0, 0, 0, 0.5);
	@apply absolute inset-0 rounded-full;
}
.public-profile-banner-upload img {
	@apply relative z-50;
}
@media (min-width: 640px) {
	.profile {
		margin-top: 10%;
	}
}
@media (min-width: 768px) {
	.profile {
		margin-top: 5%;
	}
}
@media (min-width: 1024px) {
	main.auth-page {
		background: linear-gradient(90deg, rgba(201, 226, 255, 1) 30%, rgba(255, 255, 255, 1) 30%);
	}
	.profile {
		margin-top: 5%;
	}

	.indivisual-card-img {
		margin-right: 130px;
	}
}
@media (min-width: 1280px) {
	main.auth-page {
		background: linear-gradient(90deg, rgba(201, 226, 255, 1) 40%, rgba(255, 255, 255, 1) 40%);
	}
	.indivisual-card-img {
		margin-right: 0;
	}
}
@media only screen and (max-width: 959px) {
	.filter-subnav-inner {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.filter-views {
		-ms-flex-order: 1;
		order: 1;
		margin-right: 15px;
	}
	.filter-categories {
		-ms-flex-order: 3;
		order: 3;
		width: calc(100% + 30px);
		margin: 15px -3px 0;
		padding: 25px 0 0;
		border-top: 1px solid #f3f3f4;
	}
	.filter-settings {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		-ms-flex-order: 2;
		order: 2;
	}
}
